<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljx.chapter5.dao.RoleDao">
    <select id="findById" resultType="com.ljx.chapter5.model.Role" parameterType="java.lang.Integer">
        select * from t_role where id = #{id}
    </select>
</mapper>    