<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/jquery/3.4.0/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <title></title>
</head>
<body>

<div class="col-md-offset-10 col-sm-2">
    <form th:action="@{/logout/page}" method="post">
        <input type="submit" class="form-control" th:name="退出">
    </form>
</div>

<table class="table table-striped">

    <thead>
        <td>username</td>
        <td>pass</td>
        <td>sex</td>
        <td>memo</td>
        <td>available</td>
        <td>ops</td>
    </thead>

    <tbody th:each="row : ${users}">
        <td th:text="${row.userName}">default</td>
        <td th:text="${row.pass}">123</td>
        <td th:text="${row.sex}">男</td>
        <td th:text="${row.memo}">hello</td>
        <td th:text="${row.available}">1</td>
        <td>
            <a th:href="@{/user/toUpdatePassPage(userName=${row.userName})}">updpaas</a>
            <a th:href="@{/user(id=${row.id})}">delete</a>
            <a th:href="@{'/user/auth/'+ ${row.id}}">auth</a>
        </td>
    </tbody>
</table>

<script th:inline="javascript">

</script>
</body>
</html>